<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <div class="col-8 offset-2">
    <form
      action="/listings"
      method="post"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <br />
      <h3>Share a Hidden Gem</h3>
      <div class="mb-3">
        <label for="title" class="form-label">Hidden Spot Name</label>
        <input
          type="text"
          name="listing[title]"
          placeholder="Enter hidden spot name"
          class="form-control"
          required
        />
        <div class="valid-feedback">Spot name looks good!</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label"
          >About this hidden location</label
        >
        <textarea
          type="text"
          name="listing[description]"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">
          Please enter a short travel description
        </div>
      </div>

      <div class="mb-3">
        <label for="title" class="form-label">Upload Spot Photo</label>
        <input type="file" name="listing[image]" class="form-control" />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="title" class="form-label">Estimated Travel Cost</label>
          <input
            name="listing[price]"
            placeholder="Enter estimated cost"
            class="form-control"
            required
          />
          <div class="invalid-feedback">
            Please enter a valid estimated cost
          </div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="title" class="form-label">Country</label>
          <input
            type="text"
            name="listing[country]"
            placeholder="Enter country"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a Country name</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="title" class="form-label">Location</label>
        <input
          type="text"
          name="listing[location]"
          placeholder="Enter city or region"
          class="form-control"
          required
          6
        />
        <div class="invalid-feedback">Please enter city or region</div>
      </div>
      <br />
      <button class="btn btn-dark mb-3 add-btn">Share Spot</button>
      <br /><br />
    </form>
  </div>
</div>
